<div id="left-sidebar" class="left-sidebar">
    <div class="left-sidebar--sticky-container js-sticky-leftnav">
        <nav role="navigation">
            <ol class="nav-links">
                <li [ngClass]="{homeactive: shared.activeTemplate == 'home'}">
                    <a [routerLink]="['/']" class="pl8 js-gps-track nav-links--link">
                        <div class="grid ai-center">
                            <div class="grid--cell truncate">
                                Home
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <ol class="nav-links">
                        <li class="fs-fine tt-uppercase ml8 mt16 mb4 fc-light">Public</li>
                        <!-- nav-links--link -->
                        <li class=" youarehere">
                            <a id="nav-questions" [routerLink]="['/questions']" [ngClass]="{homeactive: shared.activeTemplate == 'questions'}"
                                class="pl8 js-gps-track  -link__with-icon nav-links--link">
                                <svg aria-hidden="true" class="svg-icon iconGlobe" width="18" height="18"
                                    viewBox="0 0 18 18">
                                    <path
                                        d="M9 1a8 8 0 100 16A8 8 0 009 1zM8 15.32a6.4 6.4 0 01-5.23-7.75L7 11.68v.8c0 .88.12 1.32 1 1.32v1.52zm5.72-2c-.2-.66-1-1.32-1.72-1.32h-1v-2c0-.44-.56-1-1-1H6V7h1c.44 0 1-.56 1-1V5h2c.88 0 1.4-.72 1.4-1.6v-.33a6.4 6.4 0 012.32 10.24v.01z">
                                    </path>
                                </svg> <span class="-link--channel-name">Questions</span>
                            </a>
                        </li>

                        <li class="">
                            <a id="nav-tags" class=" js-gps-track nav-links--link"
                                data-gps-track="top_nav.click({is_current:false, location:2, destination:2})"
                                aria-controls="" data-controller="" data-s-popover-placement="right">
                                <div class="grid ai-center">
                                    <div class="grid--cell truncate">
                                        Tags
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="">
                            <a id="nav-users" class=" js-gps-track nav-links--link"
                                data-gps-track="top_nav.click({is_current:false, location:2, destination:3})"
                                aria-controls="" data-controller="" data-s-popover-placement="right">
                                <div class="grid ai-center">
                                    <div class="grid--cell truncate">
                                        Users
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="fs-fine tt-uppercase ml8 mt16 mb4 fc-light">Find a Job</li>
                        <li class="">
                            <a id="nav-jobs"
                                class=" js-gps-track nav-links--link"
                                data-gps-track="top_nav.click({is_current:false, location:2, destination:6})"
                                aria-controls="" data-controller="" data-s-popover-placement="right">
                                <div class="grid ai-center">
                                    <div class="grid--cell truncate">
                                        Jobs
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="">
                            <a id="nav-companies"
                                class=" js-gps-track nav-links--link"
                                data-gps-track="top_nav.click({is_current:false, location:2, destination:12})"
                                aria-controls="" data-controller="" data-s-popover-placement="right">
                                <div class="grid ai-center">
                                    <div class="grid--cell truncate">
                                        Companies
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ol>
                </li>
            </ol>
        </nav>
    </div>
</div>