<div class="r-sidebar">
    <div class="section-1">
        <div class="section-title">
            <p>The Overflow Blog</p>
        </div>
        <div class="section-list">
            <div class="d-flex">
                <div clas>
                    <i class="fa fa-pencil"></i>
                </div>
                <p>Level Up: creative coding with p5.js – part 2</p>
            </div>
            <div class="d-flex">
                <div>
                    <i class="fa fa-pencil"></i>
                </div>
                <p>Level Up: creative coding with p5.js – part 2</p>
            </div>
        </div>
        <div class="section-title">
            <p>Featured on Meta</p>
        </div>
        <div class="section-list">
            <div class="d-flex">
                <div>
                    <div class="favicon favicon-stackexchangemeta" title="Meta Stack Exchange"></div>
                </div>
                <p>Level Up: creative coding with p5.js – part 2</p>
            </div>
            <div class="d-flex">
                <div>
                    <div class="favicon favicon-stackexchangemeta" title="Meta Stack Exchange"></div>
                </div>
                <p>Level Up: creative coding with p5.js – part 2</p>
            </div>
        </div>
        <div class="section-title">
            <p>Hot Meta Posts</p>
        </div>
        <div class="section-list">
            <div class="d-flex">
                <div style="margin-right: 10px; color: #6a737c; font-size: 14px;">
                    15
                </div>
                <p>Level Up: creative coding with p5.js – part 2</p>
            </div>
            <div class="d-flex">
                <div style="margin-right: 10px; color: #6a737c; font-size: 14px;">
                    15
                </div>
                <p>Level Up: creative coding with p5.js – part 2</p>
            </div>
        </div>
    </div>
</div>